<style>

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: grey;
    color: white;
    font-weight: 600;
    padding: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink='/'>
    <img
      width="80"
      alt="Angular Logo"
      src="../assets/logo.png"
    />
  </a>
  <div class="spacer"></div>
  <a routerLink='/user/all'>
    User-List
  </a>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>